/* ---- Navbar ---- */
@media only screen and (min-width: 641px)  {
    .mobile-nav {
        display: none !important;
    }
}
@media only screen and (max-width: 640px)  {
    .desktop-nav {
        display: none !important;
    }
    .main-section {
        margin: 4% 0 !important;
    }
    .guest-alert {
        margin: 4% 0 !important;
    }
}

/* ---- Login Page ---- */
@media only screen and (max-width: 750px)  {
    .login {
        margin: 20% 5%;
        width: 90%;
    }
}

@media only screen and (max-width: 600px)  {
    .hide-table-row {
        display: none !important;
    }
}

/**
* Non-overwrites
*/
.user-navbar {
    padding: 2% 1%;
}
