.ah-logo-big {
    font-family: "Quantify", sans-serif;
    font-size: 40px;
    margin-left: 25px;
    margin-right: 30px;
}

.ah-page-pos {
    position: relative  ;
    top: 30px;
    left: 83%;
}

.ah-hide-list {
    list-style: none;
}

.ah-install-step {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 30px;
}

.ah-disabled {
    pointer-events: none;
    color: #b3b3b3!important;
}

#install-switcher {
    position: relative;
}

.pos-absolute {
    position: absolute;
    top: 0;
}

.uk-text-meta {
    font-size: 13px!important;
}

.uk-card-header {
    border-radius: 3px 3px 0 0;
}

.uk-card-body {
    overflow-y: auto!important;
    min-height: 38vh;
}

.uk-card-footer {
    height: 4vh;
    border-radius: 0 0 3px 3px;
}
